body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #EFF7FF;
}

.app-container {
  max-width: 600px;
  margin: 50px auto;
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
}

.todo-input {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.todo-input input {
  flex: 1;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.todo-input button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 16px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
}

.todo-input button:hover {
  background-color: #218838;
}

.task-list {
  list-style: none;
  padding: 0;
}

.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f1f1f1;
  padding: 12px 16px;
  border-radius: 6px;
  margin-bottom: 10px;
}

.task-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.task-item input[type='checkbox'] {
  width: 18px;
  height: 18px;
}

.task-item span {
  font-size: 16px;
}

.task-item span.completed {
  text-decoration: line-through;
  color: gray;
}

.delete-btn {
  background: none;
  border: none;
  font-size: 18px;
  color: #dc3545;
  cursor: pointer;
}
.task-section {
  max-width: 600px;
  margin: 50px auto;
  background: #ffffff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}
.btn{
  background-color: transparent;
  color: rgb(46, 58, 68);
  border: none;
  padding: 10px 16px;
  font-size: 24px;
  border-radius: 6px;
  outline: none;
  cursor: pointer;
}
.btn:hover{
  transform: scale(1.2);
  transition: all 2ms ease-in-out;
  color:red;
}
.empty-container{
  align-items: center;
  justify-content: center;
  text-align: center;
}
